@font-face {
    font-family: 'press_start_kregular';
    src: url('../fonts/prstartk-webfont.eot');
    src: url('../fonts/prstartk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/prstartk-webfont.woff2') format('woff2'), url('../fonts/prstartk-webfont.woff') format('woff'), url('../fonts/prstartk-webfont.ttf') format('truetype'), url('../fonts/prstartk-webfont.svg#press_start_kregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* 
#00171F  Rich Black
#003459 PRussian Blue
#007EA7 Cerulean
#00A8E8 Vivid Cerulean
*/

.arrowLink::before {
    content: '>';
    height: 0px;
    position: relative;
    width: 0;
    display: none;
    top: 0px;
    left: -30px;
}

.arrowLink:hover {
    text-decoration: none;
}

.arrowLink:hover:before {
    display: block;
}

body,
html {
    background-color: #00A8E8;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.btn-danger {
    margin-left: 10px;
}

.centerThis {
    width: 500px;
    margin: 0px auto;
}

.centerThis.form {
    width: 100%;
    margin: 0px auto;
}

.completeBox {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    height: 180px;
    left: 1%;
    position: absolute;
    top: -40%;
    transform: scale(0.7);
    width: 315px;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.container p {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.dataArea {
    height: 200px;
    margin: 0 auto;
    width: 100%;
}

.dataAreaCurrent {
    height: 300px;
    margin: 0 auto;
    width: 100%;
}

.end {
    color: #fff;
    background-color: rgb(38, 37, 36);
    font-size: 30px;
    font-family: "press_start_kregular", serif;
    border: 0;
    margin: 0;
    padding: 10px;
    line-height: 40px;
    height: 60px;
    width: 125px;
    cursor: pointer;
    text-shadow: 3px 2px rgba(0, 166, 232, 0.51);
}

.end:focus {
    outline-color: transparent;
    outline-style: none;
}

#entryForm {
    margin-top: 14px;
}

.flexResult {
    width: 100%;
    display: flex;
}

.gameDesc {
    margin: 0 25px;
}

.gameDescCont {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.gameResult {
    margin: 0;
    text-align: center;
}

.headNav {
    height: 50px;
    line-height: 0;
}

.imgBW {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 100%;
    max-width: 100%;
}

.imgComplete {
    height: 100%;
    max-width: 100%;
}

.imgContainerOld {
    height: 100px;
}

.instructions {
    background-color: #004257;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom: white;
    color: #eee;
    padding: 15px;
}

.instructions .container h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

.lead {
    font-family: "press_start_kregular", serif;
    margin: 25px;
    text-shadow: 7px 5px rgba(0, 0, 0, .6);
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: #eee;
    text-decoration: underline;
}

.login {
    margin: 200px auto;
    width: 20%;
}

.logout {
    cursor: pointer;
}

.message {
    padding: 10px 0;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message p {
    margin-left: 10px;
}

.name {
    min-height: 115px;
}

.name p {
    margin: 0;
}

.navbar {
    border-radius: 0px;
    width: 100%;
}

.nowPlaying {
    font-family: "press_start_kregular", serif;
    font-size: 30px;
    margin: 0 25px 10px;
    text-shadow: 3px 2px rgba(0, 166, 232, 0.51);
}

.nowPlaying.complete {
    margin-top: 15px;
}

.platform {
    height: 45px;
}

.progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(213, 213, 213, 0.55);
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    height: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 40%;
}

.progress-bar {
    -o-transition: width .6s ease;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    transition: width .6s ease;
    width: 0;
}

.progress-bar.oldBar {
    background-color: rgba(236, 230, 141, 0.85);
}

.progress-bar.fullBar {
    background-color: rgba(51, 183, 67, 0.85);
}

.resultImg {
    margin: 20px auto 0;
    flex: 1;
}

.resultText {
    text-align: center;
    flex: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    font-size: 10px;
    padding-top: 15px;
    margin: 0 40px;
    border-top: 3px white solid;
}

.resultsBlock {
    width: 25%;
}

.resultsBlock:hover {
    background-color: rgba(38, 37, 36, 0.72);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.results {
    flex-grow: 1;
    width: 20%;
    cursor: pointer;
}

.search {
    font-family: "press_start_kregular", serif;
    font-size: 30px;
    margin: 0 25px 10px;
    text-shadow: 3px 2px rgba(0, 166, 232, 0.51);
    background-color: rgb(38, 37, 36);
    border: 3px white;
    border-style: solid;
    padding: 10px;
    color: white;
    text-indent: 5px;
}

.search:focus {
    outline-color: transparent;
    outline-style: none;
}

.section_8bit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(38, 37, 36);
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    box-sizing: border-box;
    float: left;
    margin: 25px 0;
    position: relative;
    width: 100%;
}

.section_8bit.addFormTitle {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.section_8bit.headMenu {
    width: 350px;
    position: absolute;
    top: -5px;
}

.section_8bit.completeArea {
    margin-top: 35px;
}

.section_8bit.resultsBlock {
    width: 95%;
    margin: 5px;
}

.section_8bit::after {
    right: -5px;
    top: -5px;
}

.section_8bit::before {
    left: -5px;
    top: -5px;
}

.section_8bit::before,
.section_8bit::after,
.section_8bit .wrapper::before,
.section_8bit .wrapper::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
}

.section_8bit .wrapper {
    border-bottom: 10px solid #fff;
    border-top: 10px solid #fff;
    color: #fff;
    display: block;
    display: flex;
    justify-content: space-between;
    margin: -10px 0;
    padding: 40px;
}

.section_8bit .wrapper::before {
    bottom: -5px;
    left: -5px;
}

.section_8bit .wrapper::after {
    bottom: -5px;
    right: -5px;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    font-family: "press_start_kregular", serif;
    font-size: 25px;
    height: 1px;
    line-height: 65px;
    margin: -1px;
    overflow: hidden;
    padding: 0 25px;
    text-shadow: 2px 2px #000000;
    white-space: nowrap;
    width: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.up {
    -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
    animation: uparrow 0.6s infinite alternate ease-in-out;
    font-size: 45px;
    /* display:none; */
}

@-webkit-keyframes uparrow {
    0% {
        -webkit-transform: translateY(0.6em);
        opacity: 0.8
    }
    100% {
        -webkit-transform: translateY(0.3em);
        opacity: 0.9
    }
}

@keyframes uparrow {
    0% {
        -webkit-transform: translateY(0.6em);
        opacity: 0.8
    }
    100% {
        -webkit-transform: translateY(0.3em);
        opacity: 0.9
    }
}

  

#welcome {
    margin: 25px auto;
    text-align: right;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.14);
    float: right;
}

.wrapper.wrapMenu {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrapper.wrapMenu.nowPlaying {
    font-size: 20px;
}

.wrapper.wrapMenu.nowPlaying.resultswrap {
    min-height: 500px;
}

.wrapper.wrapMenu.nowPlaying>li>a {
    width: 225px;
    margin: 0px auto;
    padding: 10px 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    visibility: hidden!important;
    display: block!important;
}