<div class="navbar" >
  <div class="container">
    <ul>
      <section class="section_8bit headMenu">
        <div class="wrapper wrapMenu nowPlaying">
          <li>
            <a href="#/user" class="arrowLink" onclick="" style=cursor:pointer>My QuestLog</a>
          </li>
          <li>
            <a href="#/add" class="arrowLink">Add Game</a>
          </li>
          <li>
            <a ng-click="uc.userService.logout()" class="logout arrowLink">Quit</a>
          </li>
        </div>
      </section>
      <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    </ul>
  </div>
</div>