
<div class = "aboutWrap">
<section class="section_8bit">
        <div class="wrapper wrapMenu nowPlaying">

                <div class="container">
                        <div class="thanks">
                                <h1 class="thanksheader">THANKS!</h1>
                                <span class="thanksheader">Technology used:</span>
                                <span class="thanks"> postgreSQL, express, angular, node. </span>
                                <span class="thanks">CSS<sub>3</sub>/Html<sub>5</sub></span>
                                <span class="thanksheader">APIs:</span>                                
                                <span class="thanks">IGDB.com & HowLongToBeat.com</span>
                                
                        </div>
                    </div>
                    

        </div>
      </section>
    </div>