<div ng-include="'views/partials/nav.html'" ng-controller="UserController as uc"></div>
<div class="container">
  <div class="centerThis">
    <section class="section_8bit addFormTitle">
      <div class="wrapper wrapMenu nowPlaying">
        <p class="nowPlaying">
          Add Game:
        </p>
      </div>
    </section>
  </div>
  <div class="centerThis form">
    <section class="section_8bit addForm">
      <div class="wrapper wrapMenu nowPlaying">
        <p class="nowPlaying">
          Text Here:
          <input type="text" class="search" ng-model="ac.searchIn">
          <button class="end arrowLink" ng-click="ac.userService.apiSearch(ac.searchIn)">END</button>
        </p>
      </div>
    </section>
  </div>
  <div class="flexResult">
    <div class="results" ng-repeat="result in ac.userObject.results">
      <section class="section_8bit addForm resultsBlock">
        <div class="wrapper wrapMenu nowPlaying resultswrap">
          <span class="resultText">{{ result.name }}</span>
          <span class="resultImg"><img ng-src="{{ result.image }}"</span>
        </div>
      </section>
    </div>

  </div>
</div>