<div ng-include="'views/partials/nav.html'" ng-controller="UserController as uc"></div>
<div class="container" ng-init="ac.clamp()">
  <div class="centerThis">
    <section class="section_8bit addFormTitle">
      <div class="wrapper wrapMenu nowPlaying">
        <p class="nowPlaying">
          Add Game:
        </p>
      </div>
    </section>
  </div>
  <div class="centerThis form">
    <section class="section_8bit addForm">
      <div class="wrapper wrapMenu nowPlaying">
        <p class="nowPlaying">
          <span class="searchLabel">Search:</span>
          <input type="text" class="search" ng-model="ac.searchIn">
          <button class="end arrowLink" ng-click="ac.userService.apiSearch(ac.searchIn)">END</button>
        </p>
      </div>
    </section>
  </div>
  <div class="flexResult">
    <div class="results" ng-repeat="result in ac.userObject.results track by $index" ng-mouseover="open = true" ng-mouseleave="open = false"
      ng-click="ac.userService.selectGame(result)">
      <section class="section_8bit addForm resultsBlock">
        <div class="wrapper wrapMenu nowPlaying resultswrap">
          <span class="resultText name">
            <p>{{ result.name }}
            </p>
          </span>
          <span class="resultText date">( {{ result.release_dates[0].human | limitTo: 4 }} )</span>
          <span class="resultImg" ng-style="ac.userService.setfade(open)">
            <img ng-src="{{ result.image }}" class="resultImgSrc">
          </span>
          <!-- <div class="arrowholder"> -->
          <span class="resultText up" ng-show="open">^</span>
          <!-- </div> -->
        </div>
      </section>
    </div>
  </div>
</div>
<div class="addForm" ng-repeat="i in ac.userObject.selectedGame">
  <section class="section_8bit">
    <div class="wrapper">
      <div class="imgContainer">
        <img ng-src="{{ i.image }}">
      </div>
      <div class="gameDescCont">
        <span class="gameDesc nowPlaying">
          <span class="searchLabel Left">NAME:</span>
          <span class="searchLabelInner">{{i.name}}</span>
        </span>
        <span class="gameDesc nowPlaying">
          <span class="searchLabel Left">PLATFORM:</span>
          <span class="searchLabelInner">
            <input type="text" class="search innerInput" ng-model="i.system.name">
          </span>
        </span>
        <span class="gameDesc nowPlaying">
          <span class="searchLabel Left">HOURS PLAYED: </span>
          <span class="searchLabelInner">
            <input type="text" class="search innerInput" ng-model="ac.userObject.hoursIn">
          </span>
        </span>
        <span class="gameDesc nowPlaying">
          <span class="searchLabel Left">HOURS TO COMPLETE: </span>
          <span class="searchLabelInner">
            <input type="text" class="search innerInput" ng-model="i.time">
          </span>
        </span>
        <span class="gameDesc nowPlaying">
          <span class="searchLabel Left" for="checkbox">NOW PLAYING: </span>
          <span class="searchLabelInner">
            <input type="checkbox" class="checkNowPlay" ng-model="ac.userObject.nowplaying" id="checkbox">
          </span>
        </span>
        <span class="searchLabel">
          <button class="end arrowLink" ng-click="ac.userService.sendGame()">ENTER</button>
        </span>
      </div>
    </div>
  </section>
</div>
</div>