<div class="container login">
    <div class="gifContainer"><img src="./image/crop.gif" class="homeImg"></div>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()" class="loginFormHome">
      <div class="loginForm">
          <label for="username" class="pressStart">Username:</label>
          <input type="text" ng-model="lc.user.username"  class="searchHome" />
      </div>
      <div class="loginForm">
          <label for="password" class="pressStart">Password:</label>
          <input type="password" ng-model="lc.user.password" class="searchHome" />
      </div>
      <div class="loginForm">
          <input class="btn btn-default end arrowLink loginHome" type="submit" name="submit" value="Log In" />
          <img src="./image/150845960378434.png" class="imgHomeController">
        </div>
    </form><div class="homeFooter">
    <a href="#register" class="pressStartHome">...Create New User &lt; </a> 
</div>
<div class="easter">
    <a href="#about"><img ng-src="./image/150845960378434.gif">
</div>
</div>
