<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>

    <div class="regAlpha">
      <span class="letters" ng-repeat="i in lc.alpha" ng-click="lc.userService.letter(i)"> {{ i }} </span>
    </div>
    <form ng-submit="lc.registerUser()" class="regForm">
      <div class="loginForm">
        <label for="username" class="pressStart" maxlength=10>Username:</label>
        <input type="text" ng-model="lc.user.username" class="searchHome reg" disabled/>
      </div>
      <div class="loginForm">
          <label for="password" class="pressStart">Password:</label>
          <input type="password" ng-model="lc.user.password" class="searchHome" />
        </div>
      <input class="btn btn-default end arrowLink loginHome" type="submit" name="submit" value="Register" />
    </form>
<div class = "pressStart back"> <a href="#/home" class="pressStartHome back">BACK</a></div>
</div>