<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-cloak>

    <div class="dataAreaCurrent" ng-repeat='current in uc.userObject.games | filter : {nowplaying:true}'>
        <section class="section_8bit">
            <div class="wrapper">
                <div class="imgContainer">
                    <img ng-src="{{ current.coverart }}" class="currentGameImage">
                </div>
                <div class="gameDescCont">
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" ng-style="{'width':'{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}%'}">
                                    <span class="sr-only">{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}% Complete</span>
                                </div>
                            </div>
                    <span class="nowPlaying">NOW PLAYING:</span>
                    <span class="gameDesc nowPlaying">{{ current.title }}</span>
                    <span class="gameDesc">RELEASE DATE: {{ current.releasedate | limitTo: 4 }}</span>
                    <span class="gameDesc">PLATFORM: {{ current.platform }}</span>
                    <span class="gameDesc">HOURS PLAYED: {{ current.progress }}</span>
                    <span class="gameDesc">HOURS TO COMPLETE: {{ current.timetobeat }}</span>
                </div>

            </div>
        </section>
    </div>
    <div class="dataArea" ng-repeat='current in uc.userObject.games | filter : {nowplaying:null} | filter: {completed:false}'>
        <section class="section_8bit">
            <div class="wrapper old">
                <div class="imgContainerOld">
                    <img ng-src="{{ current.coverart }}" class="imgBW">
                </div>
                <div class="gameDescCont">
                    <span class="gameDesc gdTitle">{{ current.title }}</span>
                    <span class="gameDesc">RELEASE DATE: {{ current.releasedate | limitTo: 4 }}</span>
                    <span class="gameDesc">PLATFORM: {{ current.platform }}</span>
                    <span class="gameDesc">HOURS PLAYED: {{ current.progress }}</span>
                    
                    
                </div>
                <div class="progress">
                    <div class="progress-bar oldBar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':'{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}%'}">
                        <span class="sr-only">{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}% Complete</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="dataArea" ng-repeat='current in uc.userObject.games | filter : {completed:true}'>
        <section class="section_8bit completeArea">
            <div class="wrapper old">
                <div class="imgContainerOld">
                    <img ng-src="{{ current.coverart }}" class="imgComplete">
                </div>
                <div class="gameDescCont">
                    <span class="gameDesc">{{ current.title }}</span>
                    <img src="../../image/pixel-speech-bubble.png" alt="" class="completeBox">
                    <span class="gameDesc nowPlaying complete">text here</span>
                </div>
                <div class="progress">
                    <div class="progress-bar fullBar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':'{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}%'}">
                        <span class="sr-only">{{ ((current.progress / current.timetobeat)*100).toFixed(0) }}% Complete</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>